body {
    background-color: rgb(70, 100, 150);
}
form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}
#sub {
    width: 25%;
    margin: auto;
}
input {
    background-color: antiquewhite;
    border:  6px double green;
    margin-top: 15px;
    margin-top: 15px;
}

input:active {
    background-color: aquamarine;
}
input:hover {
    background-color: blue;
}
input:focus {
    border: 6px dotted rgb(116, 147, 116);
    outline: 0;
}